* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#user-name {
    text-align: center;
}

button:disabled {
    background-color: #d3d3d3; /* Light gray */
    color: #a9a9a9; /* Darker gray */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.6; /* Make it slightly transparent */
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #28a745;
}

h2 {
    font-size: 20px;
    margin: 15px 0;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #28a745;
    outline: none;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

button:disabled {
    background-color: #d3d3d3; /* Light gray */
    color: #a9a9a9; /* Darker gray */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.6; /* Make it slightly transparent */
}


p {
    font-size: 16px;
    margin-top: 10px;
    color: #777;
}

.location-info, .user-request {
    margin: 20px 0;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width to cover the whole screen */
    height: 100%; /* Full height to cover the whole screen */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    display: inline-block; /* Make it only as wide as the content */
    min-width: 200px; /* Optional: set a minimum width */
    text-align: center; /* Center text inside the modal */
    border-radius: 8px; /* Optional: add rounded corners */
}


.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

